html, body {width: auto!important; overflow-x: hidden!important}
.first-body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
}
.header-title {
    text-align: center;
    padding-top: 135px;
    font-size: 100px;
    padding-bottom: 0;
}
.typing-eng-student {
    font-size: 25px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}
.animated-bio span {
    position: relative;
}
.animated-bio span::before {
    content: "Computer Engineering Student at Queen's University";
    animation: words 20s infinite;
}
.animated-bio span::after {
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #ffffff;
    border-left: 2px solid white;
    right: -8px;
    animation: cursor 1s infinite, typing 30s steps(20) infinite;
}
@keyframes cursor {
    to {
        border-left: 2px solid rgb(0, 0, 0);
    }
}
@keyframes words {
    0%, 100% {
        content: "Computer Engineering Student at Queen's University";
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}
.photo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.me {
    width: 300px;
    height: 300px;
    border-radius: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.second-body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    border: 300px;
}
.content {
    position:absolute;
    left: 130px;
    top: 55px;
}
.title {
    font-size: 60px;
    padding-bottom: 50px;
    padding-left: 7%;
    padding-top: 55px;
}
.paragraph-about-me {
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 10px;
    padding-left: 12%;
    padding-right: 12%;
}
.last-paragraph {
    padding-top: 10px;
    font-size: 20px;
    padding-bottom: 60px;
    padding-left: 12%;
    padding-right: 12%;
    border-right: 50px;
}


.third-body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: relative;
    border: 300px;
}
.title-experience {
    font-size: 60px;
    padding-bottom: 40px;
    padding-left: 7%;
}
.img-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom:60px;
}
.icon-c {
    padding-right: 35px;
    padding-left: 25px;
    width: 140px;
    height: 90px;
}
.icon-css {
    padding-right: 25px;
    padding-left: 25px;
    width: 120px;
    height: 100px;
}
.icon-html{
    padding-right: 25px;
    padding-left: 25px;
    width: 145px;
    height: 100px;
}
.icon-arduino {
    padding-right: 25px;
    padding-left: 25px;
    width: 170px;
    height: 100px;
}
.middle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
    padding-right: 90px;
}


@media screen and (max-width: 600px) {
    //First Body
    .first-body {
        background-color: #ffffff;
        width: 100%;
        height: 1000px;
        position: relative;
        border: 300px;
    }
    .header-title {
        text-align: center;
        padding-top: 150px;
        font-size: 70px;
        padding-bottom: 0;
    }
    .typing-eng-student {
        font-size: 15px;
        color: #000000;
        text-align: center;
        margin-top: 15px;
    }
    .me {
        width: 150px;
        height: 150px;
        border-radius: 200px;
        margin-top: 30px;
    }

    //Second Body
    .second-body {
        background-color: #e5e5e5;
        width: 100%;
        height: 425px;
        position: relative;
        border: 300px;
    }
    .box {
        display: grid;
        align-items: stretch;
        width: 100%;
        justify-content: center;
    }
    .title {
        text-align: center;
        padding-left: 10px;
        padding-top: 20px;
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 0;
    }
    .paragraph-about-me {
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 10px;
        padding-left: 50px;
    }
    .last-paragraph {
        padding-top: 10px;
        font-size: 15px;
        padding-bottom: 60px;
        padding-left: 50px;
    }

    //Third Body
    .third-body {
        background-color: #ffffff;
        width: 100%;
        height: 100%;
        position: relative;
        border: 300px;
    }
    .middle {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom: 180px;
        padding-right: 90px;
    }
    .title-experience {
        text-align: center;
        padding-left: 10px;
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 25px;
    }
    .img-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-bottom:35px;
    }
    .icon-c {
        padding-right: 35px;
        padding-left: 25px;
        width: 100px;
        height: 45px;
    }
    .icon-css {
        padding-right: 25px;
        padding-left: 25px;
        width: 85px;
        height: 50px;
    }
    .icon-html{
        padding-right: 25px;
        padding-left: 25px;
        width: 95px;
        height: 50px;
    }
    .icon-arduino {
        padding-right: 25px;
        padding-left: 25px;
        width: 110px;
        height: 50px;
    }


}