html, body {width: auto!important; overflow-x: hidden!important}
.card {
    position: relative;
    width: 400px;
    height: 18em;
    box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
    cursor: pointer;
    transition: all 120ms;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    padding: 0.5em;
    padding-bottom: 3.4em;
}
.card .title {
    font-size: 1.05em;
    position: absolute;
    left: 0.625em;
    bottom: 1.875em;
    font-weight: 400;
    color: #000;
}
.card .price {
    font-size: 0.9em;
    position: absolute;
    left: 0.625em;
    bottom: 0.625em;
    color: #000;
}
.card:hover::after {
    bottom: 0;
    opacity: 1;
}
.card:active {
    transform: scale(0.98);
}
.text {
    max-width: 55px;
}
.image {
    background: rgb(241, 241, 241);
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}
.to-github {
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    border: none;
    background: none;
}
.photo-projects {
    width: 370px;
    height:165px;
}
.photo-projects-posture {
    width: 340px;
    height:165px;
}
.photo-projects-theoffice {
    width: 310px;
    height:165px;
}
.photo-projects-discordbot {
    width: 380px;
    height:150px;
}
.typing-all {
    font-size: 80px;
    color: #000000;
    text-align: center;
    margin-top: 15px;
}
.animated-bio span {
    position: relative;
}
.animated-bio span::before {
    content: "Projects";
    animation: words 20s infinite;
}
.animated-bio span::after {
    content: " ";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #ffffff;
    border-left: 2px solid white;
    right: -8px;
    animation: cursor 1s infinite, typing 30s steps(20) infinite;
}
@keyframes cursor {
    to {
        border-left: 2px solid rgb(0, 0, 0);
    }
}
@keyframes words {
    0%, 100% {
        content: "Projects";
    }
}
@keyframes typing {
    10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95% {
        width: 0;
    }
    5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85% {
        width: calc(100% + 8px);
    }
}

@media screen and (max-width: 600px) {
    .typing-all {
        font-size: 50px;
        color: #000000;
        text-align: center;
        margin-top: 15px;
    }
    .card {
        position: relative;
        width: 260px;
        height: 18em;
        box-shadow: 0px 1px 13px rgba(0,0,0,0.1);
        cursor: pointer;
        transition: all 120ms;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #fff;
        padding: 0.5em;
        padding-bottom: 3.4em;
    }
    .card .title {
        font-size: 0.83em;
        position: absolute;
        left: 0.625em;
        bottom: 1.875em;
        font-weight: 400;
        color: #000;
    }
    .card .price {
        font-size: 0.5em;
        position: absolute;
        left: 0.625em;
        bottom: 0.625em;
        color: #000;
    }
    .photo-projects {
        width: 230px;
        height:130px;
    }
    .photo-projects-posture {
        width: 240px;
        height:150px;
    }
    .photo-projects-theoffice {
        width: 230px;
        height:115px;
    }
    .photo-projects-discordbot {
        width: 220px;
        height:80px;
    }
}
